*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* gradientes */

body{ 
    background: linear-gradient(to left, red, yellow); 
}


/* propiedades de la caja, transformaciones*/

.caja{
    width: 250px;
    height: 250px;
    background-color: tomato;
    margin: 2rem;
    border: 5px solid black;
    transform: scale(1.2);
    transition: 5s;
    
    
}

/* pseudoclase hover */

.caja:hover{
    color: white;
    font-size: 50px;
    width: 150px;
    background-color: burlywood;
    transform: translate(10px, 20px);
    
}

/* animaciones */

img{
    width: 60%;
}

.girar{
    animation-name: girar;
    animation-iteration-count: infinite;
    animation-duration: 60s;
}

@keyframes girar{
    from{
        transform: rotate(0);

    }

    to{
        transform: rotate(360deg);
    }
}

